<div class="container">
  <nav class="nav-container">
    <h1>Aural</h1>
    <img src="micfill.png">
    <ul>
      <li><a href=''>Record</a></li>
      <li><a href=''>Library</a></li>  
    </ul>
  </nav>
  <main class="main-container">
    <div class="record-container">
      <div class="recording">
        <audio 
          #audio
          controls=""
        ></audio>
      </div>
      <button 
        #btnStart
        (click)="startRecording()"
      >Record</button>
      <button 
        #btnStop
        (click)="stopRecording()"
      >Stop</button>
      <button 
        #btnStart
        (click)="download()"
      >Download</button>
    </div>
    <div class="library-container">
      <ul>
        <li>placeholder</li>
      </ul>
    </div>
  </main>
</div>